body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: #fff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header-inner {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li.logo {
    margin-right: auto;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    padding: 10px 15px;
}

nav ul li.chat-button a {
    background: linear-gradient(135deg, #1D3241 0%, #48535A 100%);
    color: #fff;
    border-radius: 200px;
    font-weight: 500;
    padding: 12px 24px;
}

nav ul li.hamburger-menu {
    display: none;
}

.hero {
    text-align: left;
    padding: 120px 0;
    background: radial-gradient(circle at top, #F2F7FF, #fff 40%);
}

/* Keyframes for animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Applying the animations */
.hero h1 {
    font-size: 64px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    color: #333;
    line-height: 1.2;
    animation: fadeInUp 1s ease-out;
}

.hero p {
    font-size: 1.25em;
    margin-bottom: 40px;
    color: #666;
    font-weight: 400;
    max-width: 100%;
    animation: fadeIn 2s ease-out;
}

.hero-logos {
    display: flex;
    justify-content: flex-start;
    gap: 60px;
    align-items: center;
    margin-top: 20px;
    animation: fadeInLeft 1.5s ease-out;
}

.hero-logos img {
    max-height: 50px;
    width: auto;
}

.worked-with {
    font-size: 1.5em;
    color: #666;
    font-weight: 400;
    margin-bottom: 20px;
    animation: fadeIn 2.5s ease-out;
}

/* General Button Styles */
.button, .chat-button a, .footer-button {
    background: linear-gradient(135deg, #1D3241 0%, #48535A 100%);
    color: #fff;
    border-radius: 8px;
    font-weight: 500;
    padding: 12px 24px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.button:hover, .chat-button a:hover, .footer-button:hover {
    background: linear-gradient(135deg, #48535A 0%, #1D3241 100%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.icon-arrow {
    margin-left: 12px; /* Adjust this value to change the spacing between "Read more" and the icon */
}

/* Project card styles */
.project-background {
    background-color: #F5F9FE;
    padding: 60px 0;
    text-align: left;
}

.project-background h2 {
    font-size: 32px; /* Increased font size */
    font-weight: 500;
    margin-bottom: 40px;
}

.project-card {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: auto;
    overflow: hidden;
    margin-bottom: 40px; /* Added margin-bottom of 40px */
}

.project-card-content {
    display: flex;
    flex-direction: row-reverse; /* Ensure horizontal orientation */
    background-color: #ffffff;
    align-items: center; /* Center vertically */
    object-fit: cover;
}

.project-card img {
    max-width: 50%; /* Set image width to 50% */
    object-fit: fill;
}

.project-info {
    flex: 1;
    padding: 40px;
    text-align: left; /* Center text horizontally */
}

.project-info .project-category {
    font-size: 14px;
    color: #5B83B2;
    margin-bottom: 10px;
}

.project-info h2 {
    font-size: 32px; /* Increased font size */
    font-weight: 500;
    margin-bottom: 10px;
}

.project-info p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .project-card-content {
        flex-direction: row-reverse; /* Stack the image and text vertically on mobile */
        display: inline-block;
    }

    .project-card img {
        max-width: 100%;
        height: auto; /* Ensure image resizes properly */
    }

    .project-info {
        padding: 20px; /* Reduce padding for better fit on mobile */
    }

    .project-info h2 {
        font-size: 24px; /* Adjust heading size for mobile */
    }

    .project-info p {
        font-size: 14px; /* Adjust paragraph size for mobile */
        margin-bottom: 10px;
    }

    .button {
        padding: 10px 20px; /* Adjust button size for mobile */
    }
}



.skills-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #1C1C1C;
    max-width: 1200px;
    margin: 0 auto;
    background: radial-gradient(circle at bottom, #F2F7FF, #fff 50%);
}

.skills-content {
    width: 40%;
    padding-right: 20px;
}

.skills-content h2 {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 20px;

}

.skills-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.skills-cards {
    width: 50%;
    max-height: 500px;
    overflow-y: scroll; /* Parallax scroll on desktop */
    position: relative;
    box-sizing: border-box;
}

.skill-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #e0e0e0;  
}

.skill-card-header {
    padding: 16px 26px;
    font-size: 16px;
    font-weight: 500;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

/* Custom colors for each header */
.skill-card-header.primary {
    background-color: #4588D4;
    color: #F5F9FE;
}

.skill-card-header.secondary {
    background-color: #F5F9FE;
    color: #4588D4;
}

.skill-card-header.tertiary {
    background-color: #FFFBF0;
    color: #967932;
}

.skill-card-body {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.skill-cell {
    padding: 16px 26px;
    background-color: #ffffff;
    color: #1C1C1C;
    flex: 1 1 100%;
    font-size: 24px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Parallax scrolling on the cards */
.skills-cards {
    overflow-y: auto;
    scroll-behavior: smooth;
}

.skills-cards::-webkit-scrollbar {
    width: 6px;
}

.skills-cards::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 3px;
}

/* Remove parallax scrolling on mobile */
@media (max-width: 768px) {
    .skills-section {
        flex-direction: column;
        padding: 40px 20px; /* Updated padding for mobile */
    }

    .skills-content {
        width: 100%;
        margin-bottom: 20px;
        padding-right: 0;
    }

    .skills-cards {
        width: 100%;
        max-height: none; /* Remove max-height for mobile */
        overflow-y: visible; /* Disable parallax scrolling on mobile */
    }

    .skills-content h2 {
        font-size: 48px;
    }

    .skills-content p {
        font-size: 16px;
    }
}


.case-studies-section h2 {
    font-size: 32px; /* Matching the font size */
    font-weight: 500; /* Matching the font weight */
    background: linear-gradient(135deg, #1D3241 0%, #48535A 100%);
    
}



/* Footer styles */
footer {
    padding: 40px 0;
    text-align: center;
}

.footer-content {
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
}

.footer-content h2 {
    font-size: 32px;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
}

.footer-button {
    background-color: #1D3241;
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.footer-button:hover {
    background-color: #48535A;
}

.footer-divider {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 60px 0;
}

.footer-email {
    font-size: 16px;
    color: #666;
}

.footer-email-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.footer-links {
    text-align: right;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin: 0;
}

.footer-links ul li {
    display: inline;
}

.footer-links ul li a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    padding: 10px 15px;
}

.footer-links ul li a:hover {
    color: #333;
}

@media (max-width: 768px) {
    .footer-email-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-links {
        text-align: left;
        margin-top: 10px;
    }

    .footer-links ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-links ul li {
        margin-bottom: 10px;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    nav ul li {
        margin-right: 0;
    }

    nav ul li.logo {
        margin-right: auto;
    }

    nav ul li.hamburger-menu {
        display: block;
    }

    nav ul li a {
        display: none;
    }

    .chat-button {
        display: none;
    }

    .hero {
        text-align: left;
        padding: 24px 0;
        background: radial-gradient(circle at top, #F2F7FF, #fff 40%);
    }

    .hero h1 {
        font-size: 42px;
        max-width: 100%;
    }

    .project-card-content {
        flex-direction: column-reverse;
    }

    .project-card img {
        max-width: 100%;
        margin-top: 0px;
    }

    .divider {
        margin: 20px 0;
    }

    .hero-logos {
        flex-direction: row;
        justify-content: flex-start;
        gap: 20px;
    }

    .toc {
        position: relative;
        top: auto;
        margin-bottom: 40px;
    }

    .case-study-container {
        flex-direction: column;
    }
}

.success-metrics-section {
    padding: 60px 0;
    text-align: left;
    color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1); /* Added top outline */
}

.success-metrics-section h2 {
    font-size: 32px; /* Matches other h2 styles */
    font-weight: 500;
    background: linear-gradient(135deg, #1D3241 0%, #48535A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
    text-align: left;
}

.metrics-grid {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.metrics-grid a.metric-card {
    background-color: transparent;
    border: 3px solid #E6E6E6;
    border-radius: 12px;
    padding: 40px;
    flex: 1;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 480px; /* Increased height for more space */
    min-width: 250px; /* Ensures cards don't get too small on small screens */
    box-sizing: border-box; /* Ensures padding and border are included in width/height */
    text-decoration: none; /* Prevents text underline in links */
    color: inherit; /* Inherits the color for consistency */
}

.metric-card h1 {
    font-size: 64px;
    font-weight: 500;
    color: #1C1C1C;
    margin-bottom: 10px; /* Reduced space between h1 and p */
}

.metric-card p {
    font-size: 18px;
    color: #5f6368;
    margin-bottom: auto; /* Ensures the paragraph doesn't push the arrow down */
    flex-grow: 1; /* Allows p to take up available space to push the arrow to the bottom */
}

.metric-arrow {
    display: flex;
    justify-content: flex-start; /* Align arrow to the left */
    align-items: flex-end; /* Align arrow to the bottom */
    position: absolute;
    bottom: 40px; /* Ensure arrow stays at the bottom */
}

.metric-arrow svg {
    margin-left: -8px; /* Adjust the position of the arrow as needed */
}

.metrics-grid a.metric-card:hover {
    background: linear-gradient(135deg, #1D3241 0%, #48535A 100%);
    color: #fff;
    border-color: transparent; /* Remove border on hover */
}

.metrics-grid a.metric-card:hover h1,
.metrics-grid a.metric-card:hover p,
.metrics-grid a.metric-card:hover .metric-arrow svg {
    color: #fff;
}

.metrics-grid a.metric-card:hover .metric-arrow svg {
    fill: #fff;
}

@media (max-width: 768px) {
    .metrics-grid {
        flex-direction: column; /* Stacks cards vertically on small screens */
        gap: 20px;
    }

    .metrics-grid a.metric-card {
        height: 400px; /* Increased height for more space on mobile */
        padding: 30px; /* Adjust padding for smaller screens */
        flex-direction: column; /* Ensure flex column behavior on mobile */
    }

    .metric-card h1 {
        font-size: 48px; /* Adjust font size for smaller screens */
    }

    .metric-card p {
        font-size: 16px; /* Adjust paragraph size for smaller screens */
        flex-grow: 1; /* Ensure p takes available space */
        margin-bottom: 60px; /* Add space between text and arrow */
    }

    .metric-arrow {
        position: absolute;
        bottom: 30px; /* Ensure arrow stays at the bottom */
        left: 30px; /* Keep arrow on the left */
    }

    .metric-arrow svg {
        height: 30px; /* Adjust arrow size for smaller screens */
        width: 30px;
    }

    .success-metrics-section h2 {
        font-size: 32px;
        font-weight: 500;
        background: linear-gradient(135deg, #1D3241 0%, #48535A 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 40px;
    }
}


